---
layout: archive
title: "YouTube videos"
permalink: /talks/
author_profile: true
---

As of now I still haven't finished any YouTube video, however I'm producing videos explaining some of the techniques that I am using in the different competitions I'm participating in, all of it in a non-technical and (hopefully) entertaining way!

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
